/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  border: 5px solid black;
  padding: 10px 20px 30px 20px;
}
.Heading {
  justify-content: center;
  display: flex;
}
.img-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 20px;
}
.name {
  font-size: 20px;
  /* line-height: 0.2; */
  margin-top: 20px;
  text-transform: uppercase;
}
.uper-half {
  display: flex;
  justify-content: space-between;
}
.uper-info {
  /* line-height: 0.7; */
  margin-left: 20px;
}
.about {
  color: white;
  padding: 40px 30px;
  width: 250px;
  margin-right: 20px;
  background-color: rgb(74, 71, 71);
}
.lower-half {
  display: flex;
  justify-content: space-between;
}
.lower-info {
  line-height: 0.7;
  margin-left: 20px;
}
.contact {
  width: 310px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
li {
  text-transform: uppercase;
}
h3 {
  text-transform: uppercase;
}
.fa-solid {
  font-size: 25px;
}
